<div class="container">
  <h1>Display Grades</h1>

  <table id="students" class="table table-striped card">
    <thead>
      <tr class="lines">
        <th>Name</th>
        <th>Age</th>
        <th>Maths</th>
        <th>Science</th>
        <th>Geography</th>
        <th>English</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="/*fill_in*/">
        <td>{{ /*fill_in*/ }}</td>
        <td>{{ /*fill_in*/ }}</td>
        <td>{{ /*fill_in*/ }}</td>
        <td>{{ /*fill_in*/}}</td>
        <td>{{ /*fill_in*/ }}</td>
        <td>{{ /*fill_in*/ }}</td>
      </tr> -->
    </tbody>
  </table>
</div>
